ion-avatar {
    width: 100px;
    height: 100px;
    background-color: var(--ion-background-color);
  }
  
  ion-item {
    --padding-start: 15px;
    --inner-padding-end: 10px;
    background-color: var(--ion-background-color);
  }
  
  ion-label h2 {
    font-size: 0.8rem;   
    margin-left: 30px;
  }
  
  ion-item {
    margin-bottom: 8px; 
  }
  
.avatar-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-left: 20px;
}
  