.header-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    position: relative;
    top: 0px;
    width: 100%;
    background: transparent;
    border-radius: 0 0 10px 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-input {
    margin: 5px;
    color: var(--icon-color-default);
}

.bold {
    color: var(--icon-color-default);
}

body[color-theme="dark"] {
    --icon-color-default: #f9f9f9;
}

.footer-gray {
    background: var(--ion-background-surface) !important;
    color: var(--icon-color-default);
    border-top: solid 1px var(--hr-color);
    padding: 18px;
    text-align: center;
}

.form-gap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

ion-button {
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-transform: none;
}

.button-text {
    font-size: 20px;
    padding: 20px;
}

.btnGoogle {
    width: 100%;
    height: 100%;
    box-shadow: none;
    color: var(--icon-color-default);
    border: solid 1px var(--hr-color);
    border-radius: 5px;
    font-size: 10px;
}

.redirect {
    color: var(--ion-color-primary);
}

.logo {
    width: 266px;
    height: 112px;
    background-color: transparent;
}



