<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="context-bg" [fullscreen]="true">
  <div [ngClass]="'header-auth'">
    <img class="logo" [src]="logoPath" alt="Logo">
  </div>


  <div [ngClass]="'container pt-3'">
    <h3 class="bold">Crie sua conta!</h3>
    <ion-input label="Nome" [(ngModel)]="nome" [labelPlacement]="'floating'" type="text" fill="outline"></ion-input>

    <ion-input label="E-mail" [(ngModel)]="email" [labelPlacement]="'floating'" type="email" fill="outline"></ion-input>

    <ion-input label="Senha" [(ngModel)]="senha" [labelPlacement]="'floating'" type="password"
      fill="outline"></ion-input>

    <ion-input label="Confirmar senha" [(ngModel)]="confirmarSenha" [labelPlacement]="'floating'" type="password"
      fill="outline"></ion-input>

    <div style="width: 100%;">
      <ion-button (click)="onRegister()">
        <span class="button-text">Registrar</span>
      </ion-button>
    </div>
  </div>

</ion-content>

<ion-footer class="footer-gray">
  Já tem uma conta? <b (click)="onLogin()" class="redirect">Entrar</b>
</ion-footer>