<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div [ngClass]="'header-auth'">
    <ion-icon name="paw" size="large" style="font-size: 60px; color: var(--icon-color-default);"></ion-icon>
  </div>


  <div [ngClass]="'container pt-3'">
    <div class="form-gap">
      <h3 class="bold">Crie sua conta!</h3>
      <ion-input label="Email" [(ngModel)]="email" [labelPlacement]="'floating'" type="email" fill="outline"></ion-input>

      <ion-input label="Senha" [(ngModel)]="senha" [labelPlacement]="'floating'" type="password" fill="outline"></ion-input>

      <ion-input label="Confirmar senha" [(ngModel)]="confirmarSenha" [labelPlacement]="'floating'" type="password" fill="outline"></ion-input>

      <div style="width: 100%;">
        <ion-button (click)="onRegister()">
          <span class="button-text">Registrar</span>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer class="footer-gray">
  Já tem uma conta? <b (click)="onLogin()" class="redirect">Entrar</b>
</ion-footer>