<ion-header [translucent]="true">
  <ion-toolbar color="translucent">
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <app-avatar-usuario 
    [userName]="'Nome do usuário'">
  </app-avatar-usuario>

    <app-itens-config 
      icon="palette" 
      label="Aparência" 
      link="#">
    </app-itens-config >

    <app-itens-config  
      icon="circle-user-round" 
      label="Informações do usuário" 
      link="#">
    </app-itens-config >
  </ion-list>
</ion-content>