ion-header {
  --ion-box-shadow: none;
  box-shadow: none;
}

ion-avatar {
    width: 70px;
    height: 70px;
  }
  
  ion-label h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  ion-item {
    background-color: transparent;
    --padding-start: 10px;
    --inner-padding-end: 10px;
  }
  
  ion-list {
    background-color: transparent;
  }

  ion-content {
    background-color: transparent;
  }