ion-avatar {
    width: 70px;
    height: 70px;
  }
  
  ion-label h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  ion-item {
    --padding-start: 10px;
    --inner-padding-end: 10px;
  }
  