<ion-header [translucent]="true">
  <ion-toolbar color="translucent">
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="context-bg">
  <ion-list lines="full">
    <app-avatar-usuario 
    [userName]="'Nome do usuário'">
  </app-avatar-usuario>

    <app-itens-config 
      icon="palette" 
      label="Aparência" 
      [routerLink]="['/tabs/aparencia']">
    </app-itens-config >

    <app-itens-config  
      icon="circle-user-round" 
      label="Informações do usuário" 
      link="#">
    </app-itens-config >

    <app-logout-button></app-logout-button>
  </ion-list>
</ion-content>