<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content style="background-color: transparent !important;" [fullscreen]="false">
  <div *ngIf="Load === true">
    <ion-skeleton-text [animated]="true" style="width: 100%; height: calc(100vh - 80px); position: absolute;" />
  </div>
  <app-header></app-header>
  <app-button></app-button>
  <div class="map-context">
    <capacitor-google-map id="map">
    </capacitor-google-map>
  </div>
</ion-content>