<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="background: transparent;" [fullscreen]="true">
  
  <!-- <ion-header collapse="condense" style>
  </ion-header>  -->
    <!--
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar> -->

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  <div style="width: 100%; height: 100%; background-color: transparent;">
    <app-map [userLat]="userLat" [userLng]="userLng" />
  </div>

  
</ion-content>
