@import "node_modules/bootstrap/scss/bootstrap";

:root {
  --ion-color-primary: #159a9c;
  --ion-color-dark: #002333;
  --footer-gray: #f9f9f9;
  --primary-sky: #bcd6ca;
  --ion-border: #000;
  --button-custom-color: #fff;
  --icon-color-default: #2b2b2b;
  --ion-background-color: #ffffff;
  --ion-background-surface: #ffffff !important;
  --hr-color: rgba(0, 0, 0, 0.3);
  --google-button: #fff;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --ion-background-color: #2b2b2b !important;
    --button-custom-color: #2b2b2b !important;
    --ion-background-surface: #2b2b2b !important;
    --icon-color-default: #f9f9f9 !important;
    --google-button: #121212;
    --hr-color: rgba(255, 255, 255, 0.3);
  }

  .ion-overlay-wrapper {
    background-color: var(--ion-background-color) !important;
    --ion-background-color: #2b2b2b !important;
  }
}

.ion-overlay-wrapper {
  background-color: var(--ion-background-color) !important;
  --ion-background-color: #fff;
}

.custom-button {
  --background: var(--button-custom-color);
  --color: var(--ion-background-color);
}

.search-button {
  --background: transparent;
  --color: var(--ion-background-color);
}

.search-button:focus {
  --background: transparent !important;
}

body {
  background: transparent;
}

.form-gap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.container {
  padding: 0px 20px !important;
}

.pt-3 {
  padding-top: 20px !important;
}

.bold {
  font-weight: bold !important;
}

.context-bg {
  background: var(--ion-background-surface) !important;
}

ion-title {
  color: var(--icon-color-default) !important;
}

ion-header {
  background-color: var(--ion-background-surface) !important;
}

ion-toolbar {
  background-color: var(--ion-background-surface) !important;
}

ion-title {
  color: var(--icon-color-default) !important;
}

ion-item {
  --background: transparent;
  --color: inherit; // Mantém a cor do texto conforme o contexto
}
