span {
  color: var(--icon-color-default);
  opacity: 80%;
}

body[color-theme="dark"] {
  --icon-color-default: #f9f9f9;
}

.custom-toggle {
  --track-background: #E9E9E9;
  --handle-background: var(--ion-color-medium); /* Cor do botão no estado desligado */
  --checked-handle-background: var(--ion-color-primary-contrast); /* Cor do botão no estado ativo */
  --width: 50px; /* Largura do toggle */
  --height: 25px; /* Altura do toggle */
}

.custom-toggle::part(track) {
  border-radius: 12px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave ao alternar */
}

.custom-toggle:checked::part(track) {
  background: #159A9C !important; /* Trilho ativo */
}
