
.pet-image {
    width: 200px;
    height: 200px;
    border-radius: 99px !important;
    object-fit: cover;
}

ion-input {
    color: var(--ion-color-dark);
}

ion-checkbox {
    color: var(--ion-color-dark);
}

body[color-theme='dark'] {
    --ion-color-dark: #f9f9f9;
}