<ion-content class="context-bg" [fullscreen]="true">
  <ion-grid>
    <ion-col>
      <ion-row class="ion-justify-content-center">
        <div class="ion-flex ion-justify-content-center">
          <img [src]="detail?.petImage" class="pet-image" />
        </div>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-input [value]="detail?.apelido" label="Apelido" readonly="true" fill="outline" label-placement="floating" />
    </ion-col>
    <ion-col>
      <ion-input [value]="detail?.descricao" label="Descrição" readonly="true" fill="outline"
        label-placement="floating" />
    </ion-col>
    <ion-col>
      <ion-input [value]="detail?.localizacao" label="Localização" readonly="true" fill="outline"
        label-placement="floating" />
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-button (click)="back()">Voltar</ion-button>
      </ion-row>
    </ion-col>
  </ion-grid>

</ion-content>