ion-header {
    display: flex;
    --ion-box-shadow: none;
    box-shadow: none;
}
ion-button {
    --box-shadow: none;
    box-shadow: none;
}

ion-searchbar {
    --box-shadow: none;
    box-shadow: none;
}
